@import "tailwindcss";
@import "@fontsource-variable/onest";

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
    font-family: "Onest Variable", system-ui, sans-serif !important;
    margin-block: 1lh;
    scroll-behavior: smooth;
    margin: 0;
    width: 100%;
    height: 100%;
    color: black;
    @apply bg-gray-100 dark:bg-gray-950
      dark:bg-[radial-gradient(ellipse_100%_100%_at_50%_-1%,rgba(120,119,198,0.3),rgba(255,255,255,0))] bg-no-repeat bg-cover;
}

.content-grid {
    --padding-inline: 1rem;
    --content-min-width: 30ch;
    --width-margin: 300px;
    display: grid;
    grid-template-columns:
        [full-width-start] minmax(
            var(--padding-inline),
            calc(var(--width-margin) * 4)
        )
        [content-start]
        clamp(
            var(--content-min-width),
            100% - (var(--padding-inline) * 2),
            90ch
        )
        [content-end] minmax(
            var(--padding-inline),
            calc(var(--width-margin) * 4)
        )
        [full-width-start];

    @media (width > 3300px) {
        grid-template-columns:
            [full-width-start] 1fr
            [content-start]
            1fr
            [content-end] 1fr [full-width-start];
    }
}

.content-grid > * {
    grid-column: content;
}

.badge {
    --svg-default-fill: transparent;
    --svg-default-color: white;
    --svg-default-stroke: white;
    @apply text-white bg-gray-800;
    -webkit-text-stroke: 0.5px black;
    svg {
        fill: var(--svg-default-fill);
        color: var(--svg-default-color);
        stroke: var(--svg-default-stroke);
        width: 24px;
        height: 24px;
    }
}

.next {
    --svg-default-fill: white;
    --svg-default-color: black;
    --svg-default-stroke: black;
    @apply bg-black text-white dark:bg-white dark:text-black;
}

.laravel {
    @apply bg-red-500;
}

.typescript {
    @apply bg-blue-500;
}

.node {
    -webkit-text-stroke: 0.2px black;
    @apply bg-black text-white dark:bg-white dark:text-black;
    svg {
        @apply stroke-white dark:stroke-black;
    }
}

.postgresql {
    --svg-default-fill: #000000;
    svg {
        g {
            @apply fill-white dark:fill-white;
        }
    }
}

.react {
    --svg-default-color: oklch(78.9% 0.154 211.53);
    --svg-default-stroke: oklch(78.9% 0.154 211.53);
    @apply bg-gray-800;
}

.aws {
    @apply bg-gray-800;
}

.expirence-grid-template {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 2rem;
    @apply mt-10;
}

.expirence-description-grid-template {
    display: grid;
    grid-template-columns: 1fr 60%;
    gap: 3rem;
    @media (width < 640px) {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
    }
}

.zoom-container {
    overflow: hidden;
    position: relative;
}

.zoom-content {
    transition: transform 0.3s ease;
    transform-origin: center center;
}

.zoom-container:hover .zoom-content {
    transform: scale(1.15);
}

.exp-anchor {
    anchor-name: --exp-anchor;
}

.line {
    left: 3px;
    border-width: 0.3px;
    @apply absolute top-0 bg-yellow-300 dark:bg-gray-600 border-black w-0.5 block;
}

.nav {
    position: fixed;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    z-index: 50;
    @apply left-1/2 -translate-1/2 py-2 px-5 rounded-2xl top-10;
}

.nav-items {
    display: flex;
    gap: 10px;
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    color: white;
    mix-blend-mode: difference;
}
