---
import Section from "./atoms/Section.astro";
import SubTitle from "./atoms/Subtitle.astro";
import { getCollection, render } from "astro:content";
const projectsCollection = await getCollection("projects");

const projects = projectsCollection.filter((item) => {
    return item.data.lang === Astro.currentLocale ;
});


---

<Section>
    <SubTitle title="Proyectos" />
    {
        projects.map(async (item) => {
            const { Content } = await render(item);
            return (
                <div class="flex flex-col md:flex-row gap-2 md:gap-10">
                    <img
                        src={item.data.cover}
                        alt={item.data.title}
                        class="rounded-lg md:w-1/2 max-md:mx-auto"
                    />
                    <div>
                        <h1>{item.data.title}</h1>
                        <Content />
                    </div>
                </div>
            );
        })
    }
</Section>
