---
import SubTitle from "./atoms/Subtitle.astro";
import Section from "./atoms/Section.astro";
import Badge from "./atoms/Badge.astro";
import { getCollection } from "astro:content";

type TechProps = {
    id: string;
    data: { tech: string; icon: any; order: number };
};
const technCollection = await getCollection("tech");

const technologiesCollection = technCollection.sort(
    (a: TechProps, b: TechProps) => a.data.order - b.data.order,
);

const title = Astro. currentLocale === "en" ? "Technologies" : "Tecnologías";
---

<Section>
    <SubTitle title={title} />
    <div class="flex flex-wrap gap-2 sm:gap-5 mt-5">
        {
            technologiesCollection.map((item: TechProps) => {
                const Logo = item.data.icon;
                return (
                    <Badge class={`badge ${item.id}`}>
                        <Logo />
                        <p class="text-sm font-semibold mx-2 text-black-stroke">
                            {item.data.tech}
                        </p>
                    </Badge>
                );
            })
        }
    </div>
</Section>
