---
import LangIcon from "@/assets/lang.svg";
---

<div class="flex">
    <LangIcon />
    {Astro.currentLocale == "en" && <a href="/es">En</a>}
    {Astro.currentLocale == "es" && <a href="/en">Es</a>}
</div>

<style>
    svg {
        width: clamp(0.875rem, 1.5vw, 1rem);
    }
</style>
